ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#homePage{

    .container{
        display: flex;
        .nav{
            width: 20%;
        }
        .courses{
            width: 65%;
            
        }

    }
}