#registerPage header img{
    height: auto;
    width: 200px;
}
#registerPage{
    main{
        .container{
            width: 50%;
            margin: 0 auto;
            .formTitle{
                color: #000;
                height: 50px;
                line-height: 50px;
                text-align: center;
                margin-bottom: 24px;
                font-size: 20px;
                border-bottom: 1px solid rgba(0,0,0,0.2);
            }
            .ant-picker{
                width: 100%;
            }
        }
    }
}
